body {
  background-color:#E8ECF1;
}
hr {
  border-style:dotted none none;
  border-color:grey;
  border-width:5px;
  height:0px;
  width:5%;
}
img {
  height:200px;border-radius:100%;
}
h1{
color:#66BFBF;style=font-size:30%;
}
h3{
color:#55AE95;style=font-size:30%;
}
td{
  style=font-size:30%;
}
p{
  style=font-size:30%;
}
